<%- include('partials/header') %>

<ul class="message-list">
  <% messages.forEach((msg, index) => { %>
    <li>
      <strong><%= msg.user %></strong>: <%= msg.text %> 
      <br><small><%= msg.added.toLocaleString() %></small>
      <br><a class="open-link" href="/message/<%= index %>">[Open]</a>
    </li>
  <% }) %>
</ul>

<%- include('partials/footer') %>
