<%- include('partials/header') %>

<ul class="message-list">
  <% messages.forEach((msg, index) => { %>
    <li>
      <strong><%= msg.user_name %></strong>: <%= msg.text %> 
      <br><small><%= new Date(msg.added).toLocalString() %></small>
      <br><a class="open-link" href="/message/<%= msg.id %>">[Open]</a>
    </li>
  <% }) %>
</ul>

<%- include('partials/footer') %>
