<%- include('partials/header') %>

<h2 class="details-header">Message Details</h2>
<p><strong>From:</strong> <%= message.user_name %></p>
<p><strong>Message:</strong> <%= message.text %></p>
<p><small>Sent at: <%= message.added.toLocaleString() %></small></p>
<a class="button-link" href="/">â† Back</a>

<%- include('partials/footer') %>
